﻿body, table, td, a {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Calibri;
    color: #4a4949;
    font-size: 14px;
}

table, td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

img {
    -ms-interpolation-mode: bicubic;
}

img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

table {
    margin: 0 auto;
}

.body {
    padding: 10px 20px;
    max-width: 678px;
    width:678px;
}

    .body .logo img {
        width: 100%;
    }

.logo {
    padding-top: 40px;
}

    .logo a {
        border: 0;
        text-decoration: none;
    }

.intro {
    font-size: 32px;
}

    .intro p {
        margin: 0 0 10px 0;
        color: #fff;
        font-weight: bold;
        padding: 20px 30px;
    }

    .intro table {
        width: 60%;
    }

    .intro img {
        width: 40%;
    }

    .intro table a {
        background: #fbbd00;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 20px 20px;
    }

.main {
}

    .main .pink {
        color: #e5007d;
        padding-top: 20px;
    }

    .main ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-bottom: 20px;
    }

        .main ul li {
            background: url(http://wearesnap.com/J371221/images/arrow.png) 0 center no-repeat;
            padding-left: 20px;
            line-height: 24px;
            vertical-align: middle;
        }

            .main ul li a {
                font-weight: bold;
                text-decoration: none;
            }

    .main .grey {
        background: #efefef;
        padding: 15px;
    }

    .main img {
        width: 10%;
    }

    .main .float-left {
        width: 60%;
        margin: 10px 20px 0 0;
    }

    .main .float-right {
        width: 33%;
        margin: 20px 0 0 20px;
    }

.social {
    padding-top:20px;
    padding-bottom: 20px;
}

    .social a {
        padding: 5px;
    }

.sidebar td {
    padding: 10px 20px;
    line-height: 20px;
}

.sidebar a {
    text-decoration: none;
    font-weight: bold;
}

.sidebar .grey {
    background: #40474f;
}

    .sidebar .grey a {
        color: #fff;
        text-decoration: #fff;
        background: url('http://wearesnap.com/J371221/images/bullet.png') 0 center no-repeat;
        padding-left: 25px;
    }

.border {
    border-top: 1px solid #4a4949;
    border-bottom: 1px solid #4a4949;
    padding:10px 0;
}

.disclaimer {
    font-size: 12px;
    padding:20px 0;
}


.align-right {
    text-align: right;
}

.header {
    padding: 10px;
    max-width: 620px;
}

.padding-right {
    padding-right: 40px;
}

.padding-left {
    padding-left: 40px;
}

.float-left {
    float: left;
    display: inline-block;
}

.float-right {
    display: inline-block;
    float: right;
}

.header a[x-apple-data-detectors], .header a, .header td {
    color: #fff;
}


a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}


@media screen and (max-width: 540px), screen and (max-device-width: 540px) {
    .padding-right {
        padding-right: 10px;
    }

    .padding-left {
        padding-left: 10px;
    }

    .body {
        padding: 10px;
        max-width: 620px;
    }

    .intro {
        font-size: 22px;
        padding: 10px 20px;
    }

        .intro p {
            margin: 0 0 0px 0;
        }

        .intro a {
            padding: 10px 20px;
            font-size: 15px;
        }

        .intro div {
            width: 100%;
            padding-bottom: 30px;
        }

        .intro img, .main .float-right, .main .float-left {
            width: 100%;
        }
}
